@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html {
  font-size: 16px;
  --color-primary1: #cabd91;
  --color-primary2: #ffd451;
  --color-secondary1: #024959;
  --color-secondary2: #2e1b08;
  --color-accent1: #f2ae30;
  --color-accent2: #f09b52;
  --color-icecream: #02b4dd;

  --color-darkgrey: #333335;
  --color-lightgrey: #59595c;
  --color-fulllightgrey: #b3b3b9;
  --color-black: #1a1919;
  --clamp-text: clamp(0.5rem, calc(0.3rem + 0.98vw), 1rem);
}

img {
  width: 20rem;
}
a {
  font-size: var(--clamp-text);
  color: #1a1919;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: clamp(1.69rem, calc(1.16rem + 2.66vw), 3.05rem);
}

h2 {
  font-family: "Staatliches", cursive;
  font-size: clamp(1.5rem, calc(-0.28rem + 3.13vw), 0.35rem);
}
h3 {
  font-family: "Staatliches", cursive;
  font-size: clamp(1rem, calc(0.87rem + 1.52vw), 1.17rem);
}

p,
li {
  font-size: var(--clamp-text);
  color: #1a1919;
  font-family: "Work Sans", sans-serif;
}

p {
  line-height: 1.3rem;
}

/*NAV*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secondary1);
  width: 100%;
  height: 3rem;
}

header button {
  margin-top: 1.5rem;
}

ul {
  display: flex;
}

li {
  display: inline-block;
}

nav li {
  padding-left: 1rem;
}

nav ul {
  padding-right: 4rem;
}

nav a {
  color: var(--color-primary2);
  font-weight: 400;
}

header {
  min-height: 80vh;
  background-image: url(icecream.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 8rem;
}

.header_text {
  margin-right: auto;
  width: 40%;
  margin: 3rem;
  min-height: 200px;
}

.header_text h1 {
  color: var(--color-primary2);
}

.header_graphics {
  margin-left: auto;
  margin-bottom: 0.5rem;
  width: 40%;
  margin: 3rem;
}

.profilepic {
  border-radius: 50%;
}

.header_graphics img {
  margin-bottom: 0.5rem;
  width: 18rem;
}

nav img {
  padding-top: 2rem;
  margin-left: 0rem;
}

#advantages {
  background-color: var(--color-primary2);
}

.advantages_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /*grid-template-rows: 36rem;*/
  gap: 1.5rem;
  margin-left: 1.5rem;
}

.advantages_card {
  display: flex;
  flex-direction: column;
}

.advantages_card_text {
  margin-top: auto;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.advantages_card_graphics {
  justify-content: space-around;
  width: 100%;
  height: 50%;
  margin-bottom: auto;
}

.advantages_card_graphics img {
  width: 100%;
}

#advantages h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*PRODUCT*/

.productBox {
  display: flex;
  min-height: 40vh;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: var(--color-icecream);
}

.product_graphics {
  margin-right: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.product_graphics img {
  border-radius: 50% 50% 50% 50%;
}

.product_text p {
  max-width: 50ch;
  padding-right: 5rem;
}

.product_text article {
  padding-bottom: 2rem;
}

.product_text h3 {
  padding-bottom: 0.5rem;
}

#product h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-icecream);
}

.highlight {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.highlight h2 {
  margin: 2rem;
}

.highlight_small_cards {
  display: flex;
  justify-content: space-around;
  min-height: 12vw;
  text-align: center;
}

.highlight_small_cards div {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #59595c;
  justify-content: space-around;
}

.highlight button {
  display: inline-block;
  height: 2rem;
  width: 6rem;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darkgrey);
  color: var(--color-fulllightgrey);
  padding-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
}
/*TEAM*/
#team h2 {
  text-align: center;
  padding-top: 3rem;
}
#team {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: var(--color-primary2);
}

.team_article1,
.team_article2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 80vh;
  align-items: center;
}

.team_graphics1,
.team_graphics2 {
  align-items: center;
}

.team_graphics1 img,
.team_graphics2 img {
  margin-bottom: 0.5rem;
  padding-right: 0rem;
}

.team_graphics1 {
  padding-right: 0rem;
}

.team_text1,
.team_text2 {
  display: flex;
  flex-direction: column;
  max-width: 60ch;
}

.team_text1 {
  padding-left: 5rem;
}

.team_graphics2 {
  padding-left: 5rem;
}
.team_text1 ul,
.team_text2 ul {
  display: flex;
  flex-direction: column;
}

.team_text1 h3,
.team_text2 h3 {
  margin-bottom: 1rem;
}

/* Contact */
#contact {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  font-size: var(--third-font);
  margin: 0px 0px 1.5rem 0px;
}

#contact p {
  font-size: var(--secondary-font);
}

/* .contact_form_container {
  width: 45%;
  height: 25vw;
  text-align: left;
} */

#contact_form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1px;
  /* grid-auto-rows: minmax(100px, auto); */
}

#one {
  grid-column: 1 / 2;
  grid-row: 1;
}

#two {
  grid-column: 3 / 4;
  grid-row: 1;
}

#three {
  grid-column: 1 / 4;
  grid-row: 2;
}

#name {
  width: 100%;
  height: 10px;
}

#email {
  width: 100%;
  height: 30px;
}

#message {
  width: 100%;
  height: 80px;
}

/*FOOTER*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7vh 1rem;
  background-color: var(--color-secondary1);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  justify-content: space-evenly;
}

footer ul {
  display: flex;
  flex-direction: column;
}

.footerPart {
  padding-right: 2rem;
}

footer a {
  color: white;
}

footer h3 {
  color: var(--color-primary2);
  padding-bottom: 1rem;
}

.aboutMe {
  padding-left: 7rem;
}

.footerPart {
  padding-right: 7rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  /* styling for labels */
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-accent1);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  /* styling for labels - on toggle */
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  /* conditional check while toggling */
  background: var(--color-primary2);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html[data-theme="dark"] {
  --bg: var(--color-black);
}

/*MEDIA QUERIES*/
@media screen and (max-width: 946px) {
  .team_article1,
  .team_article2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
  }

  .team_text2 {
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: left;
  }

  .team_text1 {
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: left;
    padding-left: 0rem;
  }

  .team_graphics2 {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .team_graphics1 {
    grid-column: 1 / 4;
    grid-row: 1;
    padding-right: 0rem;
  }

  .advantages_cards {
    margin-left: 0rem;
  }

  .team_graphics2 {
    padding-left: 0rem;
  }
}
